<div class="calculator">
  <div class="calculator_screen">
    <div class="calculator_content">
      <div class="top">
        {{ top === "Infinity" ? "Cannot divide by zero" : top }}
      </div>
      <div class="bottom">{{ bottom }}</div>
    </div>
    <div class="operator">{{ operators[operation] }}</div>
  </div>

  <div class="calculator_keys">
    <button (click)="onClickKey('9')">9</button>
    <button (click)="onClickKey('8')">8</button>
    <button (click)="onClickKey('7')">7</button>
    <button (click)="onDoOperations('div')" [disabled]="top === 'Infinity'">
      ÷
    </button>
    <button (click)="onDoActions('Del')" [disabled]="top === 'Infinity'">
      &#8592;
    </button>
    <button (click)="onClickKey('6')">6</button>
    <button (click)="onClickKey('5')">5</button>
    <button (click)="onClickKey('4')">4</button>
    <button (click)="onDoOperations('mul')" [disabled]="top === 'Infinity'">
      ×
    </button>
    <button (click)="onDoActions('CE')" [disabled]="top === 'Infinity'">
      CE
    </button>
    <button (click)="onClickKey('3')">3</button>
    <button (click)="onClickKey('2')">2</button>
    <button (click)="onClickKey('1')">1</button>
    <button (click)="onDoOperations('add')" [disabled]="top === 'Infinity'">
      +
    </button>
    <button (click)="onDoActions('C')">C</button>
    <button (click)="onClickKey('0')" class="zero">0</button>
    <button (click)="onClickKey('.')">.</button>
    <button (click)="onDoOperations('sub')" [disabled]="top === 'Infinity'">
      -
    </button>
    <button (click)="onDoOperations(operation)" [disabled]="top === 'Infinity'">
      =
    </button>
  </div>
</div>
